@charset "UTF-8";
/*CITYPLAN DYNAMIC*/

* {
	box-sizing: border-box;
	}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5em;
	}

.openLogin{
	background-color: #8961AF;
	color: white;
	padding: 0.8rem 1rem; /*14px 20px;*/
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.formLogin{

	display: none;
  	bottom: 0;
 	right: 1em;
 	/*z-index: 9;*/
}
.formLoginContainer{
	max-width: 300px;
  	padding: 10px;
  	background-color: white;
  	opacity:0.9;
  	font-size: 0.5em;
}
.formLoginContainer h2{
	color: #8961AF;	
	
}
.formLoginContainer .tipoUsuario{
	font-size: 0.7em;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 20px;
  margin: 5px 2px 22px 2px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.formLoginContainer input[type=text]:focus, .formLoginContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.formLoginContainer .btnLogin{
  background-color: #8961AF;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top:10px;
  margin-bottom:10px;
  opacity: 1.0;
}
.formLoginContainer .btnCancel{
	background-color: #8961AF;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1.0;
}


/* Add some hover effects to buttons */
.formLoginContainer .btn:hover, .open-button:hover {
  background-color: #5a3c77;
}


.leftColumn{
	justify-self: start;
}

